@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

:root {
    --bg: #323232;
    --bg-lighter: #454545;
    --bg-darker: #262626;
    --accent: #7D60FF;
    --text: #EFEFF1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111111;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    color: var(--text);
}

.app-container {
    width: 412px;
    height: 915px;
    position: relative;
    background: var(--bg);
    overflow: hidden;
}

/* КОМПОНЕНТЫ */
.header {
    width: 412px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-bg {
    width: 100%;
    height: 100%;
    background: var(--bg-darker);
    position: absolute;
    top: 0;
    left: 0;
}

.header-title {
    position: absolute;
    width: 100%;
    top: 22px;
    text-align: center;
    color: var(--accent);
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.footer {
    width: 412px;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--bg-lighter);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

.nav-btn {
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 2px;
}

.nav-btn.active {
    background: var(--accent);
    font-weight: 700;
}

.nav-label {
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
}

.nav-btn.secondary {
    height: 30px;
    width: 124px;

    color: rgb(#483894 r g b / 15%);
    stroke-color: #483894;
    stroke-width: 1;
}

.main-content {
    position: absolute;
    top: 80px;
    bottom: 70px;
    left: 0;
    width: 412px;
    overflow-y: auto;
}

.main-content::-webkit-scrollbar {
    display: none;
}
.main-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.page-title {
    color: var(--text);
    font-size: 24px;
    font-weight: 700;
    padding: 20px 16px 16px 16px;
}

/*  ЛЕНТА  */
.feed-layout {
    overflow: hidden;
}

.feed-media {
    width: 412px;
    height: 765px;
    position: absolute;
    object-fit: cover;

    transform: rotate(180deg);
}

.feed-body {
    width: 412px;
    height: 765px;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 5;
}

/* КВАДРАТИКИ СПРАВА */
.sidebar {
    width: 50px;
    height: 394px;
    position: absolute;
    left: 352px;
    top: 221px;

    display: flex;
    flex-direction: column;
    gap: 70px;
}

.square-bg {
    width: 50px;
    height: 50px;
    background: var(--bg-lighter);
    border-radius: 2px;
    mix-blend-mode: hard-light;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.freq-wrapper {
    width: 50px;
    height: 172px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.freq-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-text {
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--bg-lighter);
    text-align: center;
    line-height: 20px;
}

.text-value {
    width: 50px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
    text-align: center;
}

.actions-wrapper {
    height: 152px;
    width: 50px;

    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heart {
    width: 30px;
    height: 30px;
    z-index: 10;

    stroke: var(--text);
    stroke-width: 2px;
    fill: none;
}

.like-cnt-val {
    width: 50px;
    height: 20px;

    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: var(--bg-lighter);
    mix-blend-mode: normal;
}

.arrow-down {
    text-decoration: none;
    cursor: pointer;
    z-index: 10;
}

.icon-arrow {
    width: 24px;
    height: 24px;
    fill: var(--text);
}

/* информация */
.info-card-wrapper {
    width: 412px;
    height: 134px;
    position: absolute;
    left: 0px;
    top: 615px;
    padding: 0px, 20px, 10px, 20px;
}

.info-card {
    width: 412px;
    height: 135px;
    position: absolute;
    left: 0px;
    top: 630px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    gap: 1px; 
}

.composer-name {
    height: 68px;
    font-size: 32px;
    font-weight: 700;
    color: var(--text);
    display: flex;
    mix-blend-mode: difference;
}

.composer-name span {
    align-self: flex-end;
}

.description {
    position: relative;
    width: 372px;
    height: 56px;
    overflow: hidden;
    mix-blend-mode: difference;
}

.description-text {
    height: 40px;
    position: relative;
    top: 0px;

    font-size: 14px;
    font-weight: 400;
    color: var(--text);
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-show {
    height: 16px;
    position: relative;
    /* top: 40px; */

    font-size: 10px;
    font-weight: 400;
    color: var(--accent);
    line-height: 16px;
    cursor: pointer;
    align-self: flex-bottom;
}


/* ЧЕРНОВИК */
.main-content.draft {
    padding: 30px;
}

.input-section {
    width: fill;
    margin: 0 auto 16px auto;
    background: var(--bg-darker);
    border-radius: 2px;
    overflow: hidden;
}

.input-head {
    background: #3a3a3a;
    color: var(--text);
    padding: 12px 14px;
    font-size: 14px;
    font-weight: 400;
}

.input-body {
    background: var(--bg-darker);
    width: 352px;
    display: flex;
    flex-direction: column;
    padding: 14px;
    gap: 14px;
}

.input-body.media-preview {
    height: 190px;
    padding: 20px 30px;
    flex-direction: row;
    gap: 67px;
}

.card-picture.preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 2px;
    background: var(--bg-lighter);
    align-items: center;
}

.feed-media.preview {
    width: 75px;
    height: 150px;
    object-fit: cover;
    position: static;
    background: var(--bg-lighter);
}

.input-body-vertical {
    display: flex;
    flex-direction: column;
}

.input-field {
    background: var(--bg-darker);
    display: flex;
    flex-direction: column;
    padding: 17px 15px 10px;
    gap: 4px;
}

.input-field textarea {
    resize: none;
    field-sizing: content;
    overflow: hidden;
}

.input-field label {
    color: var(--text);
    font-size: 13px;
    font-weight: 300;
}

.input-field input[type="text"],
.input-field input[type="number"],
.input-field textarea {
    width: 100%;
    background: var(--bg-lighter);
    border: none;
    border-radius: 3px;
    color: var(--text);
    padding: 10px;
    font-size: 14px;
    font-family: inherit;
    outline: none;
}

.input-field input[type="file"] {
    background: #404040;
    padding: 8px;
    border-radius: 3px;
    color: var(--text);
    font-size: 12px;
    cursor: pointer;
    border: none;
}

.input-field input[type="file"]::-webkit-file-upload-button {
    background: var(--bg-darker);
    border: none;
    color: var(--text);
    padding: 6px 12px;
    border-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
    font-family: inherit;
}

/* .save-btn-container {
    display: flex;
    justify-content: center;
    margin: 20px 0 30px 0;
}

.save-btn {
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background: var(--accent);
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.save-btn-text {
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
} */

/* ПЛИТКА */

.main-content.grid {
    padding: 30px;
}

.filter-section {
  width: 350px;
  height: 164px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.filter-head {
  background: var(--bg-lighter);
  height: 48px;
  padding: 16px 16px;
  font-size: 14px;
  color: var(--text);
  display: flex;
  align-items: center;
}

.filter-body {
  background: var(--bg-darker);
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.slider-container {
  width: 288px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .slider-thumb-container {
  width: 21px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.slider-labels {
  display: flex;
  justify-content: space-between;
  padding: 0 2px; /* Aligns label text roughly over the center of the thumb */
}

.slider-label {
  height: 15px;
  font-size: 13px;
  font-weight: 300;
  color: var(--text);
  line-height: 1;
}

/* .slider-label.edge {
    color: rgb(from var(--text) r g b / 50%);
} */

.slider-track-container {
  position: relative;
  width: 100%;
  height: 17px; /* Height of the track area */
}

/* Slider Track and Input Overlaps */
.slider-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 17px;
  background: var(--bg);
  border-radius: 10px;
}

.range-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 17px;
  background: transparent;
  pointer-events: none;
  margin: 0;
}

.range-input:focus {
  outline: none;
}

/* Thumbs */
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: auto;
  width: 21px;
  height: 21px;
  background: #705BFF; 
  border: 2px solid #2b2b2b; 
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  position: relative;
  z-index: 10;
  margin-top: -2px;
}

.range-input::-moz-range-thumb {
  pointer-events: auto;
  width: 17px;
  height: 17px;
  background: #705BFF;
  border: 2px solid #2b2b2b;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  position: relative;
  z-index: 10;
}

/* Submit Button Styling */
.apply-btn {
  all: unset;
  background: rgba(72, 56, 148, 0.15);
  color: var(--text);
  border: 1px solid #483894;
  border-radius: 1px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: 'Comfortaa', sans-serif;
  font-size: 14px;
  /* transition: all 0.2s ease; */
}

.apply-btn:hover {
  background: rgba(112, 91, 255, 0.1);
}


.grid-cards {
    width: 350px;
    padding: 20px 5px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 160px);
    justify-content: space-between;
}

.grid-card {
    width: 160px;
    background: var(--bg-lighter);
    border-radius: 2px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-decoration: none;
}

.card-picture {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 2px;
    background: #666;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card-title {
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-freq {
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
}

.card-likes {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 2px;
}

.like-val {
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
}

.no-items {
    grid-column: 1 / -1;
    color: #a0a0a0;
    text-align: center;
    padding: 40px 0;
    font-size: 14px;
}