<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление - Композиторы</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
<div class="app-container">

  <header class="header">
    <div class="header-bg"></div>
    <div class="header-title">Композиторы</div>
  </header>

  <main class="main-content draft">
    <div class="page-title">{{ if .composer.ID }}Публикация черновика{{ else }}Создание{{ end }}</div>

    <form class="draft-form" 
          action="{{ if .composer.ID }}/composer/publish{{ else }}/composer/create{{ end }}" 
          method="POST" 
          enctype="multipart/form-data">

    {{ if .composer.ID }}
      <input type="hidden" name="id" value="{{ .composer.ID }}">
    {{ end }}

    <div class="input-section">
        <div class="input-head">Предпросмотр медиа</div>
        <div class="input-body media-preview">
            <div class="card-picture preview"><img class="card-picture" src="{{ .composer.ImageURL }}" alt="{{ .composer.Name }}" /></div>
            <div class="feed-media preview"><video class="feed-media preview" autoplay muted loop playsinline>
                                <source src="{{ .composer.VideoURL }}" type="video/mp4">
                                Your browser does not support the video tag.
                                </video></div>
        </div>
    </div>

    <div class="input-section">
    <div class="input-head">Заголовки</div>
    <div class="input-body-vertical">
        <div class="input-field">
        <label>Имя композитора</label>
        <input type="text" name="name" value="{{ .composer.Name }}">
        </div>

        {{ if .composer.ID }}
        <div class="input-field">
        <label>Описание</label>
        <textarea name="description" rows="3">{{ .composer.Description }}</textarea>
        </div>
        {{ end }}
    </div>
    </div>

    <div class="input-section">
        <div class="input-head">Загрузка медиа</div>
        <div class="input-body-vertical">
          <div class="input-field">
            <label>Изображение</label>
            <input type="file" name="image" accept="image/*">
          </div>
          <div class="input-field">
            <label>Видео</label>
            <input type="file" name="video" accept="video/*">
          </div>
        </div>
    </div>

      {{ if .composer.ID }}
      <div class="input-section">
        <div class="input-head">Поля по теме</div>
        <div class="input-body-vertical">
          <div class="input-field">
            <label>Частотность 1</label>
            <input type="number" step="0.1" name="freq1" value="{{ .composer.Freq1 }}" placeholder="38.5">
          </div>
          <div class="input-field">
            <label>Частотность 2</label>
            <input type="number" step="0.1" name="freq2" value="{{ .composer.Freq2 }}" placeholder="12.4">
          </div>
        </div>
      </div>
      {{ end }}

      <div class="save-btn-container">
        <button type="submit" class="save-btn">
            <div class="save-btn-text">{{ if .composer.ID }}Опубликовать{{ else }}Далее{{ end }}</div>
        </button>
      </div>

    </form>
  </main>

  <footer class="footer">
    <a href="/composers-feed" class="nav-btn">
      <span class="nav-label">Лента</span>
    </a>
    <a href="/composer-draft" class="nav-btn active">
      <span class="nav-label">Добавление</span>
    </a>
    <a href="/composers-grid" class="nav-btn">
      <span class="nav-label">Плитка</span>
    </a>
  </footer>

</div>
</body>
</html>